#challenges{
    display: flex;
    flex-direction: column;
    gap : 1em;
    padding : 1em;
    text-align: center;
}

.challenges__sheet{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap : 0.4em;
    padding : 0.5em 0.7em;
    /* border: 2px solid var(--border); */
    /* margin-top: 2em; */
    border-radius: 0.4em;

}
.challenges__tags{
    width: 100%;
}

.challenges__bar{
    border : 1px solid var(--border);
    width: 90%;
    margin-top : 0.4em;
    border-radius: 0.4em;
    /* position: relative; */
}
.challenges__progress{
    background-color: var(--btn1);
    height: 7px;
    border-radius: 0.4em;
    width: 50%;
}
.challenges__info{
    position: absolute;
    top : -1em;
    left : -0.5em;
    /* font-size: 1.2rem; */
    font-weight: bold;
    color: var(--text1);
}
#challenges__img{
    position: absolute;
    top : -1em;
    right : -5px;
    display: flex;
    gap : 0.2em;
}
#challenges__searchbox{
    /* background-color: red; */
    display: flex;
    gap : 1em;
    width: 100%;
    /* font-size: 1.5rem; */
    margin-bottom: 2em;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}
.challenges__link{
    text-decoration: none;
    text-align: center;
    /* font-size: ; */
    font-weight: bold;
}

#add-challenges{
    position: sticky;
    left : 50%;
    bottom : 15px;
    /* border-radius: 50%; */
    /* scale: 1.4; */
    outline: 2px solid limegreen;
}

@media  screen and (min-width : 480px) {
    #challenges{
        gap : 2em;
    }
    .challenges__progress{
        height: 15px;
    }
}
@media screen and ( min-width : 850px ) {
    .challenges__sheet{
        width: 65vw;
        margin : 0 auto;
    }
    .challenges__progress{
        height: 8px;
    }
}


