#code{
    position: relative;
    width: 95%;
    margin : 2em auto;
    padding: 1em 0.4em;

}

#solution>h2{
    margin-top : 0.4em;
    text-align: center;
}

#code__img{
    position: absolute;
    top : -1em;
    right : -5px;

}

#highlight{
    overflow: scroll;
    /* max-height: 50vh; */
}