#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1em;
    position: absolute;
    top : 10%;
    /* margin : 5em auto; */
    left : 50%;
    transform: translateX(-50%);
    width: 95vw;
    /* border-top-color: var(--text1); */
}
#form__btn{
    display: flex;
    gap : 1em;
}
.input{
    width: 50%;
    padding : 0.2em 0.5em;
    transition: width 200ms ease-in;
    outline: none;
    border: 2px solid var(--border);
    border-radius: 0.4em;
    background-color: var(--border);
    color : var(--text2);
}
.input::placeholder{
    text-align: center;
    color : var(--text2);
}
.input:focus{
    width: 80%;
    border: 2px solid var(--text1);
    box-shadow: 5px 5px 10px var(--text1);
}
.form__link{
    font-size: 1.3rem;
    text-decoration: none;
}

@media screen and ( min-width : 480px ) {
    .form__link{
        font-size: 2rem;
    }
}
@media screen and ( min-width : 850px ) {
    #form{
        width: 50vw;
    }
    .input{
        font-size: 1.2rem;
        /* width: 30%; */
    }
    .form__link{
        font-size: 1.2rem;
    }
    #form{
        top : 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
}
